{% extends "cmsbase.html" %}
{% load compress static %}
{% block title %} {{block.super}} | CMS - Seiteninhalt {% endblock %}

{% block content %}

{% include "pages/cms/components/ImageSelectModal.html" %}

<div class="container mx-auto mt-8">
  <div class="flex justify-between">
    <h1 class="text-2xl"><a href="{% url 'cms:sites' %}" class="text-blue-500">Seiten</a> / <a href="{% url 'cms:site_hauptseite' %}" class="text-blue-500">Hauptseite</a> / <span>Flow</span></h1>
    <div>
      {% csrf_token %}
      <a class="mr-6 rounded bg-green-500 px-4 py-2 font-bold text-white hover:cursor-pointer hover:bg-green-700" id="saveTextData" name="main_flow"> Speichern </a>
    </div>
  </div>

  <!-- Workflow -->
  <section>
    <div class="mx-auto px-4 py-16 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 lg:py-20">
      <div class="row-gap-10 grid gap-6 lg:grid-cols-2">
        <div class="lg:py-6 lg:pr-16">
          <div class="flex">
            <div class="mr-4 flex flex-col items-center">
              <div>
                <div class="flex h-10 w-10 items-center justify-center rounded-full border">
                  <svg class="w-4 text-gray-600" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line>
                    <polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline>
                  </svg>
                </div>
              </div>
              <div class="h-full w-px bg-gray-300"></div>
            </div>
            <div class="text-content pb-8 pt-1" key="main_flow_1">
              <input inputType="title" class="mb-6 mt-3 inline-block w-full appearance-none rounded-lg border-2 border-gray-200 bg-gray-200 px-4 py-2 text-center text-lg font-bold leading-tight tracking-tight focus:border-blue-500 focus:bg-white focus:outline-none" type="text" value="{% if textContent1 and textContent1.title %}{{textContent1.title}}{% else %}Anfallende Büroarbeit{% endif %}" />
              <textarea inputType="description" type="text" class="h-18 w-full appearance-none rounded-lg border-2 border-gray-200 bg-gray-200 px-4 py-2 text-base leading-tight text-gray-700 focus:border-blue-500 focus:bg-white focus:outline-none">{% if textContent1 and textContent1.description %}{{textContent1.description}}{% else %}Buchhaltung, Steuererklärung, etc.{% endif %}
              </textarea>
            </div>
          </div>
          <div class="flex">
            <div class="mr-4 flex flex-col items-center">
              <div>
                <div class="flex h-10 w-10 items-center justify-center rounded-full border">
                  <svg class="w-4 text-gray-600" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line>
                    <polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline>
                  </svg>
                </div>
              </div>
              <div class="h-full w-px bg-gray-300"></div>
            </div>
            <div class="text-content pb-8 pt-1" key="main_flow_2">
              <input inputType="title" class="mb-6 mt-3 inline-block w-full appearance-none rounded-lg border-2 border-gray-200 bg-gray-200 px-4 py-2 text-center text-lg font-bold leading-tight tracking-tight focus:border-blue-500 focus:bg-white focus:outline-none" type="text" value="{% if textContent2 and textContent2.title %}{{textContent2.title}}{% else %}Kontaktaufnahme{% endif %}" />
              <textarea inputType="description" type="text" class="h-18 w-full appearance-none rounded-lg border-2 border-gray-200 bg-gray-200 px-4 py-2 text-base leading-tight text-gray-700 focus:border-blue-500 focus:bg-white focus:outline-none">{% if textContent2 and textContent2.description %}{{textContent2.description}}{% else %}Vereinbaren Sie einen Termin mit mir über die angegebenen Kontaktwege.{% endif %}
              </textarea>
            </div>
          </div>
          <div class="flex">
            <div class="mr-4 flex flex-col items-center">
              <div>
                <div class="flex h-10 w-10 items-center justify-center rounded-full border">
                  <svg class="w-4 text-gray-600" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line>
                    <polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline>
                  </svg>
                </div>
              </div>
              <div class="h-full w-px bg-gray-300"></div>
            </div>
            <div class="text-content pb-8 pt-1" key="main_flow_3">
              <input inputType="title" class="mb-6 mt-3 inline-block w-full appearance-none rounded-lg border-2 border-gray-200 bg-gray-200 px-4 py-2 text-center text-lg font-bold leading-tight tracking-tight focus:border-blue-500 focus:bg-white focus:outline-none" type="text" value="{% if textContent3 and textContent3.title %}{{textContent3.title}}{% else %}Individuelle Absprache{% endif %}" />
              <textarea inputType="description" type="text" class="h-18 w-full appearance-none rounded-lg border-2 border-gray-200 bg-gray-200 px-4 py-2 text-base leading-tight text-gray-700 focus:border-blue-500 focus:bg-white focus:outline-none">{% if textContent3 and textContent3.description %}{{textContent3.description}}{% else %}Geimansam bespreche ich mit Ihnen zusammen die anfallende Arbeit und gebe Ihnen ein auf Sie abgestimmtes Angebot.{% endif %}
              </textarea>
            </div>
          </div>
          <div class="flex">
            <div class="mr-4 flex flex-col items-center">
              <div>
                <div class="flex h-10 w-10 items-center justify-center rounded-full border">
                  <svg class="w-4 text-gray-600" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                    <line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line>
                    <polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline>
                  </svg>
                </div>
              </div>
              <div class="h-full w-px bg-gray-300"></div>
            </div>
            <div class="text-content pb-8 pt-1" key="main_flow_4">
              <input inputType="title" class="mb-6 mt-3 inline-block w-full appearance-none rounded-lg border-2 border-gray-200 bg-gray-200 px-4 py-2 text-center text-lg font-bold leading-tight tracking-tight focus:border-blue-500 focus:bg-white focus:outline-none" type="text" value="{% if textContent4 and textContent4.title %}{{textContent4.title}}{% else %}Ausführung{% endif %}" />
              <textarea inputType="description" type="text" class="h-18 w-full appearance-none rounded-lg border-2 border-gray-200 bg-gray-200 px-4 py-2 text-base leading-tight text-gray-700 focus:border-blue-500 focus:bg-white focus:outline-none">{% if textContent4 and textContent4.description %}{{textContent4.description}}{% else %}Im nächsten Schritt erledige ich die Arbeit und gebe Ihnen Rückmeldung.{% endif %}
              </textarea>
            </div>
          </div>
          <div class="flex">
            <div class="mr-4 flex flex-col items-center">
              <div>
                <div class="flex h-10 w-10 items-center justify-center rounded-full border">
                  <svg class="w-6 text-gray-600" stroke="currentColor" viewBox="0 0 24 24">
                    <polyline fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="6,12 10,16 18,8"></polyline>
                  </svg>
                </div>
              </div>
            </div>
            <div class="text-content w-full pt-1" key="main_flow_end">
              <p class="mb-2 text-lg font-bold"></p>
              <textarea inputType="description" type="text" class="h-18 w-full appearance-none rounded-lg border-2 border-gray-200 bg-gray-200 px-4 py-2 text-base leading-tight text-gray-700 focus:border-blue-500 focus:bg-white focus:outline-none">{% if textContent5 and textContent5.description %}{{textContent5.description}}{% else %}Sie erhalten ihre Ware bearbeitet zurück.{% endif %}
              </textarea>
            </div>
          </div>
        </div>
        <div class="relative">
          <img key="main_flow" class="content-image inset-0 h-96 max-h-96 w-full rounded-xl object-cover object-bottom shadow-lg lg:absolute lg:h-full" src="{% if flowImage %}{{ flowImage.file.url }}{% else %}{% static 'images/welding02.jpg' %}{% endif %}" imgId="{% if flowImage %}{{flowImage.id}}{% endif %}" alt="Image" />
          <span class="edit-img absolute left-0 top-0 z-40 inline-block rounded-full bg-orange-500 px-2 py-1 text-sm font-semibold text-white hover:cursor-pointer"><i class="bi bi-pencil-square"></i></span>
        </div>
      </div>
    </div>
  </section>
</div>


    {% block javascriptend %}
    {% compress js inline %}
    <script defer src="{% static 'js/cms.js' %}"></script>
    <script src="{% static 'js/cms/content/save-text.js' %}"></script>
    {% endcompress js %}
    {% endblock javascriptend %}



    {% endblock content %}