{% extends "cmsbase.html" %}
{% load compress static %}
{% block title %} {{block.super}} | CMS - Seiteninhalt {% endblock %}

{% block content %}



<div class="container mx-auto mt-8">
    <div class="flex justify-between">
        <h1 class="text-2xl "><a href="{% url 'cms:sites' %}" class="text-blue-500">Seiten</a> / <a
                href="{% url 'cms:site_hauptseite' %}" class="text-blue-500">Hauptseite</a> / <span>Flow</span></h1>
        <div>
            {% csrf_token %}
            <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-6 hover:cursor-pointer"
                id="saveTextData" name="main_flow">
                Speichern
            </a>
        </div>
    </div>

     <!-- Workflow -->
     <section>
        <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
          <div class="grid gap-6 row-gap-10 lg:grid-cols-2">
            <div class="lg:py-6 lg:pr-16">
              <div class="flex">
                <div class="flex flex-col items-center mr-4">
                  <div>
                    <div class="flex items-center justify-center w-10 h-10 border rounded-full">
                      <svg class="w-4 text-gray-600" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" viewBox="0 0 24 24">
                        <line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line>
                        <polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline>
                      </svg>
                    </div>
                  </div>
                  <div class="w-px h-full bg-gray-300"></div>
                </div>
                <div class="pt-1 pb-8">
                  <p class="mb-2 text-lg font-bold">Anfallende Büroarbeit</p>
                  <p class="text-gray-700">Buchhaltung, Steuererklärung, etc.</p>
                </div>
              </div>
              <div class="flex">
                <div class="flex flex-col items-center mr-4">
                  <div>
                    <div class="flex items-center justify-center w-10 h-10 border rounded-full">
                      <svg class="w-4 text-gray-600" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" viewBox="0 0 24 24">
                        <line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line>
                        <polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline>
                      </svg>
                    </div>
                  </div>
                  <div class="w-px h-full bg-gray-300"></div>
                </div>
                <div class="pt-1 pb-8">
                  <p class="mb-2 text-lg font-bold">Kontaktaufnahme</p>
                  <p class="text-gray-700">
                    Vereinabaren Sie einen Termin mit mir über die angegebenen
                    Kontaktwege.
                  </p>
                </div>
              </div>
              <div class="flex">
                <div class="flex flex-col items-center mr-4">
                  <div>
                    <div class="flex items-center justify-center w-10 h-10 border rounded-full">
                      <svg class="w-4 text-gray-600" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" viewBox="0 0 24 24">
                        <line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line>
                        <polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline>
                      </svg>
                    </div>
                  </div>
                  <div class="w-px h-full bg-gray-300"></div>
                </div>
                <div class="pt-1 pb-8">
                  <p class="mb-2 text-lg font-bold">Individuelle Absprache</p>
                  <p class="text-gray-700">
                    Geimansam bespreche ich mit Ihnen zusammen die anfallende
                    Arbeit und gebe Ihnen ein auf Sie abgestimmtes Angebot.
                  </p>
                </div>
              </div>
              <div class="flex">
                <div class="flex flex-col items-center mr-4">
                  <div>
                    <div class="flex items-center justify-center w-10 h-10 border rounded-full">
                      <svg class="w-4 text-gray-600" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" viewBox="0 0 24 24">
                        <line fill="none" stroke-miterlimit="10" x1="12" y1="2" x2="12" y2="22"></line>
                        <polyline fill="none" stroke-miterlimit="10" points="19,15 12,22 5,15"></polyline>
                      </svg>
                    </div>
                  </div>
                  <div class="w-px h-full bg-gray-300"></div>
                </div>
                <div class="pt-1 pb-8">
                  <p class="mb-2 text-lg font-bold">Ausführung</p>
                  <p class="text-gray-700">
                    Im nächsten Schritt erledige ich die Arbeit und gebe Ihnen
                    Rückmeldung.
                  </p>
                </div>
              </div>
              <div class="flex">
                <div class="flex flex-col items-center mr-4">
                  <div>
                    <div class="flex items-center justify-center w-10 h-10 border rounded-full">
                      <svg class="w-6 text-gray-600" stroke="currentColor" viewBox="0 0 24 24">
                        <polyline fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          stroke-miterlimit="10" points="6,12 10,16 18,8"></polyline>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="pt-1">
                  <p class="mb-2 text-lg font-bold"></p>
                  <p class="text-gray-700">
                    Sie erhalten ihre Ware bearbeitet zurück.
                  </p>
                </div>
              </div>
            </div>
            <div class="relative">
              <img key="main_flow" class="inset-0 object-cover object-bottom w-full rounded-xl shadow-lg h-96 lg:absolute lg:h-full content-image"
                src="{% if flowImage %}{{ flowImage.file.url }}{% else %}{% static 'images/welding02.jpg' %}{% endif %}"
                imgId="{% if flowImage %}{{flowImage.id}}{% endif %}"
                alt="Image" />
              <span class="absolute top-0 left-0 inline-block px-2 py-1 text-sm font-semibold text-white bg-orange-500 rounded-full z-40 hover:cursor-pointer edit-img"><i class="bi bi-pencil-square"></i></span>
            </div>
          </div>
        </div>
      </section>


    {% block javascriptend %}
    {% compress js inline %}
    <script defer src="{% static 'js/cms.js' %}"></script>
    <script src="{% static 'js/cms/content/save-text.js' %}"></script>
    {% endcompress js %}
    {% endblock javascriptend %}



    {% endblock content %}