{% extends "base.html" %} {% load compress static %}

{% block title %}{{block.super}} | Impressum{% endblock title %}

{% block content %}

<div class="container pt-10 w-full mx-auto px-2 md:px-40">
  <div>
    <h1 class="text-3xl font-bold tracki text-center sm:text-5xl text-gray-900">Impressum</h1>
  </div>
  <div>
    <p>Uhrmann Reisen GmbH</p>
    <p>Vilshofener Str. 4</p>
    <p>94538 Fürstenstein</p>
    <p>Telefon: 08504/91600</p>
    <p>Telefax: 08504/916015</p>
    <p>E-Mail: uhrmann.reisen@gmx.de</p>
  </div>
  <div>
    <h2 class="text-lg md:text-2xl">Geschäftsführung</h2>
    <p>Bernd Uhrmann</p>
  </div>
  <div>
    <h2 class="text-lg md:text-2xl">Registergericht</h2>
    <p>Amtsgericht Passau</p>
    <p>HRB 4396</p>
  </div>
  <div>
    <h2 class="text-lg md:text-2xl">St.-Nr.</h2>
    <p>153/140/60005</p>
  </div>
  <div>
    <h2 class="text-lg md:text-2xl">Ust-IdNr.</h2>
    <p>DE130961285</p>
  </div>
  <div>
    <h2 class="text-lg md:text-2xl">Haftungshinweis</h2>
    <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Diese Erklärung gilt für alle auf unserer Homepage angebrachten Links und für alle Inhalte der Seiten, zu denen Links führen.
    </p>
  </div>
  <div>
    <h2 class="text-lg md:text-2xl">Copyright</h2>
    <p>© Uhrmann Reisen GmbH. Alle Rechte vorbehalten.</p>
    <p>Text, Bilder, Grafiken, Sound, Animationen und Videos unterliegen dem Schutz des Urheberrechtes und anderer Schutzgesetze. Der Inhalt dieser Websites darf nicht zu kommerziellen Zwecken kopiert, verbreitet, verändert oder Dritten zugänglich gemacht werden. Einige Uhrmann Reisen GmbH - Websites enthalten außerdem Bilder, die dem Copyright Dritter unterliegen.
    </p>
  </div>
  <div>
    <h2 class="text-lg md:text-2xl mb-30">Markenschutz</h2>
    <p>Verwendete Kennzeichen sind Marken ihrer jeweiligen Eigentümer.</p>
  </div>
</div>


{%endblock content%}