{% extends "base.html" %} {% load compress static %}

{% block title %}{{block.super}} | Impressum{% endblock title %}

{% block content %}

<div class="container pt-10 w-full mx-auto px-2 md:px-40">
  <div>
    <h1 class="text-3xl font-bold tracki text-center sm:text-5xl text-gray-900">Impressum</h1>
  </div>
  <div class="mt-8">
    <h2 class="text-lg md:text-2xl">W&K Schweißtechnik Handelsgesellschaft mbH</h2>
    <p>Adresse: {% if owner_data and owner_data.address %}{{owner_data.address}}{% else %}Bahnhofsallee 38, 23909 Ratzeburg{% endif %}</p>
    <p>Telefon: {% if owner_data and owner_data.tel_number %}{{owner_data.tel_number}}{% else %}+49 4541 82129{% endif %}</p>
    <p>E-Mail: {% if owner_data and owner_data.email %}{{owner_data.email}}{% else %}wuk-schweisstechnik@t-online.de{% endif %}</p>
  </div>
  <div class="mt-6">
    <h2 class="text-lg md:text-2xl">Geschäftsführung</h2>
    {% if owner_data and owner_data.full_name %}{{owner_data.full_name}}{% else %}Martin Wille{% endif %}
  </div>
  <div class="mt-6">
    <h2 class="text-lg md:text-2xl">Registergericht</h2>
    <p>Amtsgericht Lübeck</p>
    <p>HRB 1199 RZ</p>
  </div>
  <div class="mt-6">
    <h2 class="text-lg md:text-2xl">Wirtschafts-Identifikationsnummer:</h2>
    <p>2229417093</p>
  </div>
  <div class="mt-6">
    <h2 class="text-lg md:text-2xl">Ust-IdNr.</h2>
    <p>DE135120133</p>
  </div>
  <div class="mt-6">
    <h2 class="text-lg md:text-2xl">Haftungshinweis</h2>
    <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Diese Erklärung gilt für alle auf unserer Homepage angebrachten Links und für alle Inhalte der Seiten, zu denen Links führen.
    </p>
  </div>
  <div class="mt-6">
    <h2 class="text-lg md:text-2xl">Copyright</h2>
    <p>© W&K Schweißtechnik Handelsgesellschaft mbH. Alle Rechte vorbehalten.</p>
    <p>Text, Bilder, Grafiken, Sound, Animationen und Videos unterliegen dem Schutz des Urheberrechtes und anderer Schutzgesetze. Der Inhalt dieser Websites darf nicht zu kommerziellen Zwecken kopiert, verbreitet, verändert oder Dritten zugänglich gemacht werden. Einige W&K Schweißtechnik Handelsgesellschaft mbH - Websites enthalten außerdem Bilder, die dem Copyright Dritter unterliegen.
    </p>
  </div>
  <div class="mt-6 mb-8">
    <h2 class="text-lg md:text-2xl mb-30">Markenschutz</h2>
    <p>Verwendete Kennzeichen sind Marken ihrer jeweiligen Eigentümer.</p>
  </div>
</div>


{%endblock content%}